<% index = product_counter + 0 %>
<tr>
  <td><%= index+1 %></td>
  <td><%= product.name %></td>
  <td><%= product.category.name %></td>
  <td><%= number_to_currency(product.default_price, unit: "RM") %></td>
  <td>
    <%= link_to "edit", edit_admin_product_path(product), class: "btn btn-primary btn-sm" %>
    <%= link_to "show", admin_product_path(product), class: "btn btn-info btn-sm" %>
    <%= link_to "delete", admin_product_path(product), method: :delete, remote: true, data: { confirm: "Are you sure?" }, class: "btn btn-danger btn-sm" %>
  </td>
</tr>
